<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Power Flow Analysis</title>
    <link type="text/css" rel="stylesheet" href="/main.css" />
    <script src="/add_line.js" language="Javascript" type="text/javascript"></script>
  </head>
  <body>
    <div id="header">
      <h1>Online Power Flow Assessment Tool</h1>
      <p>Capstone Design Project</p>
      <p>&copy 2018 - 2019 Darian Brandolino, Adriano Mazzucco & Jonathan Psaila
      </p>
      <div id="options">
        <table>
          <tr>
            <td><a class="header-link" href="/">Home</a></td>
            <td><a class="header-link" href="/manual">Manual Input</a></td>
            <td><a class="header-link" href="/info">Technical Info</a></td>
            <td><a class="header-link" href="/about">About</a></td>
          </tr>
        </table>
      </div>
    <div>
    <div>
      <form method="post" action="/analyze">
        <h2>Once all information is entered, click submit</h2>
        <table>
          <tr>
            <td><input type="submit"></td>
          </tr>
        </table>
        <h2>Bus Data</h2>
        <table>
          <tr>
            <th>Bus Number</th>
            <th>Type</th>
            <th>Voltage</th>
            <th>Angle</th>
            <th>P</th>
            <th>Q</th>
          </tr>
          <tbody id="bus-table">
            <% num = 0%>
            <% @bus_data.each_with_index do |value, i| %>
              <% if i % 6 == 0 %>
                <% num = value%>
                <tr id="<%= value %>">
                  <td class="bus-num"><%= value %></td>
              <% end %>

              <% if i % 6 == 1 %>
                <td>
                  <select class="bus-select" name="type-<%= num %>">
                    <% if value.include?('Slack') %>
                      <option selected value="slack">Slack Bus</option>
                      <option value="generator">Generator Bus</option>
                      <option value="load">Load Bus</option>
                    <% end %>
                    <% if value.include?('Generator') %>
                      <option value="slack">Slack Bus</option>
                      <option selected value="generator">Generator Bus</option>
                      <option value="load">Load Bus</option>
                    <% end %>
                    <% if value.include?('Load') %>
                      <option value="slack">Slack Bus</option>
                      <option value="generator">Generator Bus</option>
                      <option selected value="load">Load Bus</option>
                    <% end %>
                  </select>
                </td>
              <% end %>

              <% if i % 6 == 2 %>
                <td><input class="bus-voltage" value="<%= value %>" type="text" name="v<%= num %>"></td>
              <% end %>

              <% if i % 6 == 3 %>
                <td><input class="bus-angle" value="<%= value %>" type="text" name="d<%= num %>"></td>
              <% end %>

              <% if i % 6 == 4 %>
                <td><input class="bus-p" value="<%= value %>" type="text" name="p<%= num %>"></td>
              <% end %>
              <% if i % 6 == 5 %>
                <td><input class="bus-q" value="<%= value %>" type="text" name="q<%= num %>"></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <input type="button" value="Add Bus" onClick="addLine('bus');">
        <h2>Line Data</h2>
        <table>
          <tr>
            <th>Line Number</th>
            <th>From Bus</th>
            <th>To Bus</th>
            <th>Impedance (Real)</th>
            <th>Impedance (Imaginary)</th>
          </tr>
          <tbody id="line-table">
            <% line_number = 1%>
            <% @line_data.each_with_index do |value, i| %>
              <% next unless i % 4 == 0 %>
              <tr id="line-<%=line_number%>">
                <td class="line-num"><%=line_number%></td>
                <td><input type="text" value="<%=value%>" name="from-<%=line_number%>"></td>
                <td><input type="text" value="<%=@line_data[i + 1]%>" name="to-<%=line_number%>"></td>
                <td><input type="text" value="<%=@line_data[i + 2]%>" name="impr-<%=line_number%>"></td>
                <td><input type="text" value="<%=@line_data[i + 3]%>" name="impi-<%=line_number%>"></td>
              </tr>
              <% line_number += 1%>
            <% end %>
          </tbody>
        </table>
        <input type="button" value="Add Line" onClick="addLine('line');">
      </form>
    </div>
  </body>
</html>
